*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.container{
  width: 70%;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
}
.container img{
  width: 100%;
  display: none;
}
.prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  background-color: rgb(58, 59, 61, 0.5);
}
.next{
  right: 0;
}
i{
  font-size: 20px;
  color: white;
}
img.visibile{
  display:block;
}
.buttons{
  background-color: rgb(58, 59, 61, 0.5);
  width: auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
}
.buttons i{
  padding: 10px;
  color: black;
}
i.acceso{
  color: white;
}
